.Aboutme {
  height: auto;
  background-color: #010834;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 200px;
  overflow: hidden;
}

.Aboutme.light {
  color: #010834;
  background-color: #ecf5ff;
}

.Aboutme.light h2 {
  color: #00368c;
}

.Aboutme.light .interests-container h2 {
  color: #bad8ff;
}

.Aboutme.light .interests-container p {
  color: white;
}

.Aboutme.light .findme-links svg {
  fill: black;
}

.Aboutme.light .findme-links svg:hover {
  fill: #008cff;
}

.Aboutme.light .Aboutme h1 {
  font-size: 48px;
  font-weight: bold;
}

.Aboutme.light .project {
  border: 2px solid #0108348a;
}

.Aboutme.light .project:hover {
  box-shadow: 15px 15px 12px #010834;
}

.Aboutme.light .project h3 {
  border-bottom: 2px solid #010834;
}

.Aboutme h2 {
  font-size: 42px;
  color: #bad8ff;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.Aboutme img {
  width: 200px;
}

.Aboutme p {
  font-size: 22px;
  padding: 0 20%;
}

.findme-links {
  margin-top: 50px;
  text-align: center;
}

.findme-link-svg {
  margin-top: 50px;
  display: flex;
  height: 200px;
  justify-content: center;
  gap: 20px;
}

.findme-links svg {
  height: 150px;
  fill: #ffffff;
  transition: all 300ms;
}

.findme-links svg:hover {
  fill: #008cff;
}

.dev-experience h2 {
  margin-bottom: 42px;
}

.dev-experience img {
  height: 60px;
  width: 60px;
  margin: 0 10px;
}

.svg-top {
  position: relative;
  width: 100%;
  margin-top: 300px;
}

.svg-bottom {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}

.interests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 50px 0;
  position: relative;
  background-color: #00368c;
}

.interests-container h2 {
  color: #bad8ff;
}

.interests-container p {
  color: white;
}

.custom-shape-divider-bottom-1681500362 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681500362 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 232px;
}

.custom-shape-divider-bottom-1681500362 .shape-fill {
  fill: #00368c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1681500362 svg {
    width: calc(132% + 1.3px);
    height: 232px;
  }
}

.custom-shape-divider-top-1681500538 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1681500538 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 232px;
}

.custom-shape-divider-top-1681500538 .shape-fill {
  fill: #00368c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1681500538 svg {
    width: calc(132% + 1.3px);
    height: 232px;
  }
}
