.Aboutme {
  height: auto;
  background-color: #010834;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 200px;
}

.Aboutme h1 {
  font-size: 48px;
  font-weight: bold;
}

.Aboutme h2 {
  font-size: 42px;
  color: #bad8ff;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.Aboutme img {
  width: 200px;
}

.Aboutme p {
  font-size: 22px;
  padding: 0 20%;
}

.findme-links {
  margin-top: 50px;
  text-align: center;
}

.findme-link-svg {
  margin-top: 50px;
  display: flex;
  height: 200px;
  justify-content: center;
  gap: 20px;
}

.findme-links svg {
  height: 150px;
  fill: #ffffff;
  transition: all 300ms;
}

.findme-links svg:hover {
  fill: #008cff;
}

.dev-experience h2 {
  margin-bottom: 42px;
}

.dev-experience img {
  height: 60px;
  width: 60px;
  margin: 0 10px;
}

.svg-top {
  position: relative;
  width: 100%;
  margin-top: 300px;
}

.svg-bottom {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}

.interests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 50px 0;
  position: relative;
  background-color: #00368c;
}

.custom-shape-divider-bottom-1681500362 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681500362 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 232px;
}

.custom-shape-divider-bottom-1681500362 .shape-fill {
  fill: #00368c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1681500362 svg {
    width: calc(132% + 1.3px);
    height: 232px;
  }
}

.custom-shape-divider-top-1681500538 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1681500538 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 232px;
}

.custom-shape-divider-top-1681500538 .shape-fill {
  fill: #00368c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1681500538 svg {
    width: calc(132% + 1.3px);
    height: 232px;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
}

.project {
  display: grid;
  grid-template-columns: 480px 1fr;
  width: 100%;
  min-width: 400px;
  height: 350px;
  border: 2px solid #008cff;
  padding: 40px 20px;
  gap: 2rem;
}

.project h3 {
  font-size: 32px;
  border-bottom: 2px solid white;
}

.project video {
  width: 100%;
  height: 100%;
  object-fit: initial;
  border-radius: 8px;
}

.project-text {
  display: flex;
  flex-direction: column;
}

.project p {
  font-size: 18px;
  padding: 0;
  padding: 12px 0;
}

.project-icons img {
  width: 30px;
  height: 30px;
}

.project-buttons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.project-buttons button {
  display: flex;
  align-items: center;
  color: #bad8ff;
  border: 2px solid #bad8ff;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 12px;
  gap: 4px;
  background-color: #010834;
  border-radius: 8px;
  transition: all 300ms ease;
}

.project-buttons button svg {
  width: 30px;
  height: 30px;
  fill: #bad8ff;
}

.project-buttons button:hover {
  color: #010834;
  background-color: #bad8ff;
  border: 2px solid #bad8ff;
  cursor: pointer;
  transform: scale(1.1);
}

.project-buttons button:hover svg {
  fill: #010834;
}
