.Nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 230px;
  background-color: #00041b;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 40px 20px;
  gap: 18px;
  transform: translateX(100%);
  transition: transform 300ms ease;
}

.Nav-menu.animate {
  transform: translateX(0);
}

.Nav-menu h1 {
  font-size: 28px;
  font-weight: bold;
  color: #72c0ff;
}

.hamburger-button {
  position: absolute;
  left: -80px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #72c0ff;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 300ms ease;
}

.hamburger-button:hover,
.hamburger-button:focus {
  outline: none;
  cursor: pointer;
  transform: scale(1.1);
}

.hamburger-button svg {
  fill: white;
}

.nav-links button {
  margin-bottom: 16px;
  background: none;
  color: white;
  font-size: 24px;
  border: none;
  display: block;
}

.nav-links button:hover,
.nav-links button:focus {
  outline: none;
  cursor: pointer;
  text-shadow: 0px 0px 12px #ffffff;
}

.svg-links {
  display: flex;
  margin-top: auto;
  justify-content: space-around;
}

.svg-links svg {
  fill: white;
  width: 40px;
  height: 40px;
  transition: all 300ms;
}

.svg-links svg:hover {
  fill: #72c0ff;
}

.theme-button {
  width: 80px;
  height: 30px;
  border-radius: 28px;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 4px;
  position: relative;
  background-color: #72c0ff;
}

.theme-button.light {
  background-color: white;
}

.theme-button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 24px;
  transition: all 500ms;
}

.theme-button.light::before {
  background-color: #00041b;
  transform: translateX(48px);
}
